.modal-manager {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 99;
}

.modal-component {
  margin: 0 auto;
  border: 1px solid #fefefe;
  border-radius: 3px;
  padding: 8px;
  background-color: #f2f2f2;
}